<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Pricing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><b>Pickup 8ft plan</b></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">Base fare for 1kms</ion-card-subtitle>
        <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
      </ion-item>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">2 to 5kms </ion-card-subtitle>
        <ion-card-subtitle slot="end">100 INR/km</ion-card-subtitle>
      </ion-item>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">Above 6kms</ion-card-subtitle>
        <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
      </ion-item>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">Free waiting(mins)</ion-card-subtitle>
        <ion-card-subtitle slot="end">60 mins</ion-card-subtitle>
      </ion-item>
      <ion-item lines="full">
        <ion-card-subtitle slot="start">Waiting charge</ion-card-subtitle>
        <ion-card-subtitle slot="end">3 INR/min</ion-card-subtitle>
      </ion-item>
      <ion-card-subtitle> * waiting charge are applied only at pick up and drop locations.NO ride time charge</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle><b>Pickup 8ft plan</b></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item lines="full">
          <ion-card-subtitle slot="start">Base fare for 1kms</ion-card-subtitle>
          <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
        </ion-item>
        <ion-item lines="full">
          <ion-card-subtitle slot="start">2 to 5kms </ion-card-subtitle>
          <ion-card-subtitle slot="end">100 INR/km</ion-card-subtitle>
        </ion-item>
        <ion-item lines="full">
          <ion-card-subtitle slot="start">Above 6kms</ion-card-subtitle>
          <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
        </ion-item>
        <ion-item lines="full">
          <ion-card-subtitle slot="start">Free waiting(mins)</ion-card-subtitle>
          <ion-card-subtitle slot="end">60 mins</ion-card-subtitle>
        </ion-item>
        <ion-item lines="full">
          <ion-card-subtitle slot="start">Waiting charge</ion-card-subtitle>
          <ion-card-subtitle slot="end">3 INR/min</ion-card-subtitle>
        </ion-item>
        <ion-card-subtitle> * waiting charge are applied only at pick up and drop locations.NO ride time charge</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <br>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle><b>Pickup 8ft plan</b></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item lines="full">
            <ion-card-subtitle slot="start">Base fare for 1kms</ion-card-subtitle>
            <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
          </ion-item>
          <ion-item lines="full">
            <ion-card-subtitle slot="start">2 to 5kms </ion-card-subtitle>
            <ion-card-subtitle slot="end">100 INR/km</ion-card-subtitle>
          </ion-item>
          <ion-item lines="full">
            <ion-card-subtitle slot="start">Above 6kms</ion-card-subtitle>
            <ion-card-subtitle slot="end">100 INR</ion-card-subtitle>
          </ion-item>
          <ion-item lines="full">
            <ion-card-subtitle slot="start">Free waiting(mins)</ion-card-subtitle>
            <ion-card-subtitle slot="end">60 mins</ion-card-subtitle>
          </ion-item>
          <ion-item lines="full">
            <ion-card-subtitle slot="start">Waiting charge</ion-card-subtitle>
            <ion-card-subtitle slot="end">3 INR/min</ion-card-subtitle>
          </ion-item>
          <ion-card-subtitle> * waiting charge are applied only at pick up and drop locations.NO ride time charge</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    
      <br>

</ion-content>
