<ion-card *ngIf="response!=='reject'">
    <ion-item lines="full">  
          <ion-text slot="start" color="tertain"><b>{{(company|async)?.name}}</b></ion-text>
          <ion-text slot="end">Budget is {{quote.amount}} INR</ion-text>

     </ion-item>
     




    
   <ion-item *ngIf="response==='pending'" >
      <ion-button slot="start" type="submit" (click)="accept()" expand="block">Accept</ion-button>
    
      <ion-button slot="end" color="danger" (click)="reject()" expand="block">Reject</ion-button>
  </ion-item>
  <ion-card-content text-center *ngIf="response==='accept'">
    <ion-text  color="dark"><b>Deal fixed driver manu contact you</b></ion-text>
  </ion-card-content>
  </ion-card>
  
