<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-list lines="none" *ngFor="let freightView of freightViews" >
    <div>
    <app-transportation-data [freightView]=freightView></app-transportation-data>
    <ion-card *ngIf="freightView.freight.requestedStatus=='REQUEST'">
    <ion-item *ngIf="(freightView.freight.id|qtlist|async) as list" (click)="showQuotes(freightView.freight)"  >

      <ion-text>Quotes</ion-text>

      <ion-badge color="danger" slot="end">{{list.length}}</ion-badge>


      <ion-icon slot="end" name="list"></ion-icon>

    </ion-item>
  </ion-card>
  <ion-card>

  </ion-card>
</div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"   [routerLink]="['/select-place']">
    <ion-fab-button color="tertiary">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
