<ion-card *ngIf="freightView.freight.id">
  <ion-item >

    <ion-text slot="start">Status:</ion-text>
    <ion-text slot="end" *ngIf="freightView.freight.requestedStatus=='REQUEST'"><i>Requested</i></ion-text>
    <ion-text slot="end" *ngIf="freightView.freight.requestedStatus=='CONFIRM'"><i>Confirmed</i></ion-text>

    <!-- <ion-card-title text-center>More info</ion-card-title> -->
  </ion-item>
  <div (click)="moreInfo()">
  <ion-card-header style="border-top: 3px solid #5855b1;">
    <ion-text color="primary"><b><I>Pickup</I></b></ion-text>
  </ion-card-header>
  <ion-card-content>

    <ion-text>
      <i>
        {{freightView.freight.pickupAddress}}      </i>
    </ion-text>

  </ion-card-content>
  <ion-card-header>
          <ion-text color="primary"><b><I>Destination</I></b></ion-text>
  </ion-card-header>
  <ion-card-content style="border-bottom: 3px solid #5855b1;">
    <ion-text>
      <i>
        {{freightView.freight.destinationAddress}}
      </i>
    </ion-text>
  </ion-card-content>

</div>
  <div  *ngIf="freightView.isMoreInfo">
   <ion-item>

    <ion-label>Goods Type</ion-label>
    <ion-text slot="end" >Wood</ion-text>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder=" Ruogh goods weight in kg ex:1000" readonly="!freightView.isEdit" [(ngModel)]="freightView.freight.weight" ></ion-input>
    <ion-text slot="end">kg</ion-text>

  </ion-item>

  <!-- <ion-item line="full">
    <ion-text>
      23*34*56
    </ion-text>
    <ion-text slot="end">volume</ion-text>
  </ion-item> -->
  <ion-item>
    <ion-label>Delivery date</ion-label>
    <ion-datetime  display-format="D, MMMM YYYY" picker-format="DD MM YYYY" [(ngModel)]="freightView.freight.deliveryDate"></ion-datetime>
  </ion-item>
  <ion-item line="full">
    <ion-label>Fragile</ion-label>
    <ion-icon  *ngIf="freightView.freight.fragile" name="checkbox-outline" color="primary"></ion-icon>
    <ion-icon  *ngIf="!freightView.freight.fragile" name="square-outline"></ion-icon>
  </ion-item>


</div>
<ion-item line="full"  *ngIf="freightView.freight.requestedStatus=='REQUEST'" >
    <ion-text>{{freightView.freight.estimatedAmount}}
  </ion-text>
  <ion-text slot="end">INR</ion-text>

  </ion-item>
  <ion-item line="full"  *ngIf="freightView.freight.requestedStatus=='CONFIRM'" color="success">
    <ion-text>Trip fixed for {{freightView.freight.originalAmount}} INR
  </ion-text>

  </ion-item>
</ion-card>
